.offer {

    .description {
        font-size: 24px;
    }

    .offer-hero {
        position: relative;
        background-image: url('/dist/img/offer/hero-offer.jpg');
        background-position: center;
        height: 60vh;
        background-size: cover;
        z-index: 0;
    }

    .hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: -1;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 3.6rem;
        text-transform: uppercase;
        text-shadow: 0 0 5px white;
    }

    .accordion-button:not(.collapsed) {
        background-color: rgba(220, 53, 69, .15);
        color: $main-color;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url(/dist/img/down-chevron.png);
    }

    .accordion {

        p {
            font-size: 20px;
        }

        .accordion-button {
            font-size: 20px;
        }

        .accordion-button:focus {
            box-shadow: none;
        }

        .carousel-item {
            height: 40vh;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .projects {
        background-color: $white;

        .card {
            img {
                object-fit: cover;
                object-position: center;
                height: 300px;
            }
        }
    }
}

.modals {
    .carousel-item {
        img {
            object-fit: cover;
            object-position: center;
            max-height: 600px;
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .active-modal {
        display: block;
    }

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: 20% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 90%;

        .modal-title {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .modal-description {
        font-size: 18px;
    }

    .close {
        top: -7px;
        right: -7px;
        padding: 10px 20px;
        position: absolute;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

#modalProjectStairsBasic {
    .carousel-item {
        img {
            max-height: 250px;
        }
    }
}

#modalProjectWoodenTable {
    .carousel-item {
        img {
            max-height: 250px;
        }
    }
}

#modalProjectOakBed {
    .carousel-item {
        img {
            max-height: 197px;
        }
    }
}

#modalProjectProStairs {
    .carousel-item {
        img {
            max-height: 245px;
        }
    }
}

#modalProjectCarBack {
    .carousel-item {
        img {
            max-height: 150px;
        }
    }
}

@media (min-width: 320px) {

    #modalProjectCarBack {
        .carousel-item {
            img {
                max-height: 230px;
            }
        }
    }
}


@media (min-width: 576px) {
    .modals {
        .modal-content {
            margin: 15% auto;
            padding: 20px;
            width: 80%;

            .modal-title {
                font-size: 28px;
            }
        }

        .close {
            top: 2px;
            right: 2px;
        }
    }

    #modalProjectStairsBasic {
        .carousel-item {
            img {
                max-height: 298px;
            }
        }
    }

    #modalProjectWoodenTable {
        .carousel-item {
            img {
                max-height: 383px;
            }
        }
    }

    #modalProjectOakBed {
        .carousel-item {
            img {
                max-height: 360px;
            }
        }
    }

    #modalProjectProStairs {
        .carousel-item {
            img {
                max-height: 383px;
            }
        }
    }


    #modalProjectCarBack {
        .carousel-item {
            img {
                max-height: 317px;
            }
        }
    }
}


@media (min-width: 768px) {
    .offer {
        .accordion {
            .carousel-item {
                height: 70vh;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 80%;
                }

                .kitchen2,
                .kitchen3 {
                    object-position: center;
                }
            }

            .tables {
                img {
                    object-position: 50% 70%;
                }
            }

            .shelves {
                img {
                    object-position: center;
                }
            }
        }
    }

    .modals {
        .modal-content {
            margin: 10% auto;
        }

        .close {
            top: 7px;
            right: 20px;
        }
    }

    #modalProjectStairsBasic {
        .carousel-item {
            img {
                max-height: 410px;
            }
        }
    }

    #modalProjectProStairs {
        .carousel-item {
            img {
                max-height: 412px;
            }
        }
    }

    #modalProjectCarBack {
        .carousel-item {
            img {
                max-height: 412px;
            }
        }
    }
}

@media (min-width: 992px) {
    .modals {
        .modal-content {
            margin: 7% auto;
        }
    }
}

@media (min-width: 1200px) {
    .accordion-body {
        margin: 20px 100px;
    }

    .modals {
        .modal-content {
            .modal-title {
                font-size: 28px;
            }
        }

        .modal-description {
            font-size: 20px;
        }
    }
}