.navbar {
    background-color: $dark-gray;

    .navbar-nav {
        .active {
            border-bottom: 1px solid $main-color;
            color: $white;
            text-shadow: 0 0 1px $white;
            font-weight: bold;
        }

        a {
            color: $light-gray;
            transition: border-bottom .3s;

            &:hover {
                visibility: visible;
                border-bottom: 1px solid $main-color;
                color: $white;
                text-shadow: 0 0 1px $white;
            }
        }
    }
}

.hero {
    .hero-img {
        position: relative;
        background-image: url('/dist/img/hero/hero-page.jpg');
        height: 80vh;
        background-position: 50% 75%;
        background-size: cover;
        z-index: 0;

    }
}

.aboutus {
    .right-side {
        p {
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {}


@media (max-width: 768px) {
    .hero {
        .hero-img {
            background-image: url('/dist/img/hero/hero-page.min.jpg');
        }
    }
}

@media (max-width: 992px) {

    .navbar-nav {
        .active {
            margin: 10px 90px;
        }

        a {
            margin: 10px 90px;

            &:hover {
                margin: 10px 90px;
            }
        }
    }
}